/* LandingPage.css */
.landing-page {
  padding-top: 10px;
}

/*Slider Container*/
.slider-container {
  margin-top: 60px;
  width: 100%;
  height: 550px;
  animation: slideIn 2s forwards;
}

.slider-image {
  width: 95%;
  height: 105%;
  transition: transform 0.5s ease;
}
.slider-image:hover {
  transform: scale(1.02);
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

/* DescriptionSection */
.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  animation: fadeInScale 1s forwards;
}

.description-container .left-side {
  flex: 1;
  margin-right: 20px;
}

.description-container .left-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.description-container .left-image:hover {
  transform: scale(1.02);
}

.description-container .right-side {
  flex: 2;
}

.description-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
  transition: transform 0.5s ease;
}

.description-container h2:hover {
  transform: scale(1.1);
}

.description-container p {
  font-size: 16px;
  line-height: 1.6;
  color: #666;
  text-align: left;
  text-align: justify;
}

.description-container p:hover {
  transform: scale(1.02);
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media only screen and (max-width: 768px) {
  .slider-container {
    height: 400px;
  }

  .description-container {
    flex-direction: column;
    align-items: center;
    margin-top: 40;
  }

  .left-side,
  .right-side {
    width: 100%;
    margin: 0;
    padding: 0 20px;
    text-align: center;
  }

  .left-image {
    margin-bottom: 20px;
  }

  .right-side {
    order: -1;
  }
}

@media only screen and (max-width: 576px) {
  .slider-container {
    height: 300px;
  }
}

/*section-containe*/
.section-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
  box-sizing: border-box;
  color: #666;
  animation: fadeInBottom 1s forwards;
}

.section {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  overflow: hidden;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
}

.section:hover {
  background-color: #f2f2f2;
  transform: scale(1.02);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.section h3 {
  background-color: #3498db;
  color: #fff;
  padding: 15px;
  margin: 0;
  transition: transform 0.5s ease;
}

.section h3:hover {
  transform: scale(1.1);
}

.section p {
  padding: 20px;
  margin: 0;
  text-align: left;
  text-align: justify;
}

.section ul {
  list-style: none;
  padding: 0 20px;
  margin: 0;
}

.section li {
  margin-bottom: 10px;
}

.section-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  margin: 20px auto;
  max-width: 1200px;
  gap: 10px;
}

.section {
  flex-basis: calc(33.33% - 20px);
}
.principal-message img {
  width: 30%;
  margin: auto;
  margin-top: 20px;
}
@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media screen and (max-width: 768px) {
  .section {
    flex-basis: calc(50% - 20px);
  }
}

@media screen and (max-width: 480px) {
  .section-container {
    width: 98%;
    margin: auto;
  }
  .section {
    flex-basis: calc(100% - 20px);
  }
}

.section h2 {
  margin-bottom: 10px;
}

.section p {
  font-size: 16px;
  line-height: 1.6;
}

.section ul {
  list-style-type: none;
  padding: 20px;
  text-align: left;
  color: #666;
}

.section ul li {
  margin-bottom: 5px;
}

.principal-message button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.principal-message button:hover {
  background-color: #2980b9;
}

/* why-siddhu-college */
.why-siddhu-college {
  text-align: center;
  width: 100%;
  margin-bottom: 40px;
  background-color: rgb(244, 201, 83);
  animation: slideInRight 1s forwards;
}
.full-grid-container {
  width: 90%;
  margin: auto;
}

.why-siddhu-college h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #333;
  padding: 20px;
  transition: transform 0.5s ease;
}
.why-siddhu-college h2:hover {
  transform: scale(1.1);
}

.why-siddhu-college .grid-container {
  display: grid;
  grid-template-columns: repeat(5, minmax(150px, 1fr));
  gap: 20px;
}

.why-siddhu-college .grid-item {
  text-align: center;
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin-bottom: 20px;
}

.why-siddhu-college .grid-item:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.why-siddhu-college .grid-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
  border: 4px solid #fff;
  transition: transform 0.3s ease;
}
.why-siddhu-college .grid-item img:hover {
  transform: scale(1.1);
}

.why-siddhu-college .grid-item p {
  margin: 0;
  font-weight: bold;
  color: #444;
  font-size: 16px;
  transition: transform 0.3s ease;
}
.why-siddhu-college .grid-item p:hover {
  transform: scale(1.1);
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 1200px) {
  .why-siddhu-college .grid-container {
    grid-template-columns: repeat(4, minmax(150px, 1fr));
  }
}

@media (max-width: 992px) {
  .why-siddhu-college .grid-container {
    grid-template-columns: repeat(3, minmax(150px, 1fr));
  }
}

@media (max-width: 768px) {
  .why-siddhu-college .grid-container {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
  }

  .why-siddhu-college .grid-item {
    padding: 20px;
  }

  .why-siddhu-college .grid-item img {
    width: 80px;
    height: 80px;
  }

  .why-siddhu-college h2 {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .why-siddhu-college .grid-container {
    grid-template-columns: repeat(1, minmax(150px, 1fr));
  }
}

/*videos-section */
.videos-section {
  text-align: center;
  margin-bottom: 40px;
  width: 90%;
  margin: auto;
  animation: fadeIn 1s forwards;
}
.videos-section h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #333;
  transition: transform 0.5s ease;
}

.videos-section h2:hover {
  transform: scale(1.1);
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  gap: 20px;
}

.video-item {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.video-item:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.video-item iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1200px) {
  .video-grid {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
}

@media (max-width: 768px) {
  .video-grid {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 20px;
  }
}

/* success-tools */
.success-tools {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  margin-top: 50px;
  animation: slideInLeft 1s forwards;
}
.tool {
  text-align: center;
  width: calc(30% - 20px);
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin-bottom: 20px;
}

.tool:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.tool img {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 10%;
  object-fit: cover;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.tool:hover img {
  transform: scale(1.1);
}

.tool h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.tool p {
  margin-top: 10px;
  color: #666;
}

.tool-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tool-details .date {
  margin-top: 20px;
  font-size: 14px;
  color: #777;
}

.tool-details .read-more {
  width: 40%;
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
}

.tool-details .read-more:hover {
  background-color: #2980b9;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 1024px) {
  .tool {
    width: calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .tool {
    width: calc(100% - 20px);
    margin-left: 30px;
  }
  .tool-details .read-more {
    width: 45%;
    font-size: 10px;
  }
}
